.container-posts {
    width: 70%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: white;
    display: block;
    margin-left: auto;
    font-size: 25px;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
