.container-posts {
    width: 75%;
    margin: auto;
    height: auto;
    font-family: "Roboto";
    border-radius: 15px;
    background-color: white;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
