@import "theme.scss";
html,
body {
  height: 100%;
  background-color: #fff8e1  ;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//fonts

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Elephant";
  src: url("./assets/fonts/Elephant-PersonalUse.ttf");
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 10px !important;
}

.mat-form-field-infix {
  width: 300px !important;
}

.button-sumbit{
  width: 80%;
}

th{
  font-size: 14px !important;

}

.mat-elevation-z8 {    
  overflow-x: auto;
 }

 
@media (max-width: 480px) {

  .mat-dialog-container{
    width: 400px !important;
  }
.mat-cell{
    font-size: 10px;


 
}
}


//Codigo css que se encarga de poder scrollear con el dialog Post 
.cdk-global-overlay-wrapper {
  pointer-events: auto !important; 
  overflow-y: scroll !important;
  z-index: auto !important; 
}
