.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px !important;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 200px;
}
.header-title {
    font-size: 20px;
    padding-top: 5px;
}
.input-header{
  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

