.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px !important;
  gap: 100px;
}
.header-title {
  font-size: 20px;
  padding-top: 5px;
}
.example-spacer {
  flex: 1 1 auto;
}

.button-pos {
  margin-top: 5px;
}

.container-posts {
  width: 75%;
  margin: auto;
  margin-top: 100px;
  height: auto;
  font-family: "Roboto";
  height: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
